body{
    box-sizing: border-box;
    width:80%;
    margin:auto;
}

.navul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.navul li {
    display: inline-box;
    background-color:orange;
    width: 30%;
    margin:5px;
    padding:1em;
    text-align: center;
}

.margin-btm {
    margin-bottom: 2rem;
}

.members {
    margin-bottom: 2rem; 
}

#bandpic {
    width:95vw;
    margin:auto;
}

.navul {
    position: sticky;
    top:0;
    background-color: rgb(255, 250, 205);
}

body{
    background-color: rgb(255, 250, 205);
}

.arrowBack{
    position: absolute;
    width:30px;
    height:30px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
}
