:root{
    box-sizing: border-box;
}

.container{
    box-sizing: border-box;
    width:80%;
    margin:auto;
}

.navul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.navul li {
    display: inline-box;
    background-color:orange;
    width: 30%;
    margin:5px;
    padding:1em;
    text-align: center;
}

.margin-btm {
    margin-bottom: 2rem;
}

.members {
    margin-bottom: 2rem; 
}

.topPic{
    width:95%;
    position: absolute;
}

#bandpic {
    width:95%;
    margin:auto;
    z-index: -1;
    opacity: 0.2;
}

.navul {
    position: sticky;
    top:0;
    background-color: rgb(255, 250, 205);
}

body{
    width:80%;
    margin: auto;
    background-color: rgb(255, 250, 205,0.9);
    background-image: url("https://lastfm.freetls.fastly.net/i/u/770x0/fb7c9f946e3264bc76a805e31cef83c4.jpg#fb7c9f946e3264bc76a805e31cef83c4");
    background-blend-mode: lighten;
    background-size: cover;
}

.stickyArrow{
    position: sticky;
    bottom: 50px;
    right:250px;
}

.arrowBack{
    width:0px;
    height:0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid orange;
}

.arrowBack p {
    position:relative;
    right:14px;
    top:30px;
    font-size: 0.8rem;
}

.welcome {
    width:100%;
    height:20vh;
}

.welcome p{
    text-align: center;
    font-size: 5rem;
}